.adminNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 70px;

  background: white;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  z-index: 100;
}

.adminLogoSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

.adminLogoImg {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.adminLogoText h2 {
  color: #18134b;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 2px;
}

.adminLogoText p {
  color: #7c3aed;
  font-size: 13px;
}

.adminLinks {
  display: flex;
  align-items: center;
  gap: 35px;
}

.adminLinks a {
  text-decoration: none;
  color: #18134b;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.adminLinks a:hover {
  color: #7c3aed;
}

.adminLinks button {
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  background: #7c3aed;
  color: white;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.adminLinks button:hover {
  background: #5b21b6;
  transform: translateY(-2px);
}