.addUserContainer {
  max-width: 700px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
}

.addUserContainer h1 {
  margin-bottom: 25px;
}

.addUserContainer form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addUserContainer input,
.addUserContainer select {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.addUserContainer button {
  background: #6c4cf1;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}