.registrationTable{

    background:white;

    padding:20px;

    border-radius:12px;

    box-shadow:
    0 2px 10px
    rgba(
      0,0,0,.08
    );
}

.registrationTable table{

    width:100%;

    border-collapse:
    collapse;
}

.registrationTable th,
.registrationTable td{

    padding:15px;

    border-bottom:
    1px solid #eee;

    text-align:left;
}

.registrationTable th{

    background:#f5f7fb;
}

.registrationTable td{

    color:#444;
}